.boxRed{
    width:100px;
    height:100px;
    background:#333;
    float:left;
}

.boxBlue{
    width:100px;
    height:100px;
    background:#999;
    float: left;

}

#container{
    width:1200px;
}